Repository borealis-agency/next-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "*{.css,.scss}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Downgrade glob package to prevent sprite script from breaking
  template/package.json
Due: prettier --write

Restore default glob import in icon sprite script
  template/scripts/generateIconSprite.mjs
Due: none

Add hover effect to instruction boxes
  template/styles/common/_global.scss
Due: prettier --write, stylelint --fix

Update modal manager docs
  template/components/README.md
Due: prettier --write

Update shared component generator docs wording
  template/components/README.md
Due: prettier --write

Add documentation for assets folder
  template/assets/README.md
Due: prettier --write

Update dev command wording
  template/README.md
Due: prettier --write

Skip generating a component file if it already exists
  template/_templates/component/module/01-component.ejs.t
  template/_templates/component/module/02-component-styles.ejs.t
  template/_templates/component/shared/01-component.ejs.t
  template/_templates/component/shared/02-component-styles.ejs.t
Due: none

Add pull request template
  template/.github/pull_request_template.md
Due: prettier --write

Update readme for hooks
  template/hooks/README.md
Due: prettier --write

Update lint GH Action file
  template/.github/workflows/lint-typecheck.yml
Due: none

Fix typo in eslint config
  template/.eslintrc.js
Due: prettier --write

Update npm scripts for eslint
  template/package.json
Due: prettier --write

Update components docs
  template/components/README.md
Due: prettier --write

Add documentation regarding links inside app
  template/README.md
Due: prettier --write

Add basic instructions on how to set up an API client
  template/api/README.md
  template/package.json
Due: prettier --write

Update main README.md
  template/api/README.md
Due: prettier --write

Update api README.md
  template/api/README.md
Due: prettier --write

Update README.md for API
  template/api/README.md
Due: prettier --write

Update prettierignore
  template/.prettierignore
Due: none

Update icon generate script name
  template/package.json
Due: prettier --write

Add template for API generator
  template/package.json
  template/swaggerGenerateTemplates/http-client.eta
Due: prettier --write

Update swagger client template to exclude unnecessary properties on error
  template/swaggerGenerateTemplates/http-client.eta
Due: none

Update api folder documentation
  template/api/README.md
Due: prettier --write

Update icons folder documentation
  template/icons/README.md
Due: prettier --write

Update prettier sorting order
  template/.prettierrc
Due: none

Switch template to use /src folder
  template/README.md
  template/_templates/component/icon/00-index-global.ejs.t
  template/_templates/component/icon/01-component.ejs.t
  template/_templates/component/icon/02-component-styles.ejs.t
  template/_templates/component/icon/03-index-global-inject.ejs.t
  template/_templates/component/module/00-index-module.ejs.t
  template/_templates/component/module/01-component.ejs.t
  template/_templates/component/module/02-component-styles.ejs.t
  template/_templates/component/module/03-index-module-inject.ejs.t
  template/_templates/component/shared/00-index-global.ejs.t
  template/_templates/component/shared/01-component.ejs.t
  template/_templates/component/shared/02-component-styles.ejs.t
  template/_templates/component/shared/03-index-global-inject.ejs.t
  template/_templates/hook/new/00-index-global.ejs.t
  template/_templates/hook/new/01-hook.ejs.t
  template/_templates/hook/new/02-index-global-inject.ejs.t
  template/_templates/modal-setup/init/00-index-global.ejs.t
  template/_templates/modal-setup/init/01-register-utility.ejs.t
  template/_templates/modal-setup/init/02-custom-hook.ejs.t
  template/_templates/modal-setup/init/03-index-utility-inject.ejs.t
  template/_templates/modal-setup/init/04-index-global-inject.ejs.t
  template/package.json
  template/scripts/generateIconSprite.mjs
  template/scripts/utility.mjs
  template/src/api/README.md
  template/src/assets/README.md
  template/src/components/README.md
  template/src/hooks/README.md
  template/src/icons/README.md
  template/src/modules/README.md
  template/src/pages/_app.tsx
  template/src/pages/index.tsx
  template/src/styles/common/_global.scss
  template/src/styles/common/_reset.scss
  template/src/styles/styles.scss
  template/src/types/README.md
  template/tsconfig.json
Due: prettier --write, stylelint --fix

Update few dependencies
  template/package.json
Due: prettier --write

Automatically generate API client code after generating definitions from swagger
  template/_templates/api/client/00-api-client.ejs.t
  template/_templates/api/client/01-index-global-inject.ejs.t
  template/package.json
  template/src/api/README.md
Due: prettier --write

Add styles folder imports before other custom import paths
  template/.prettierrc
Due: none

Remove packagecheck step before build
  template/package.json
Due: prettier --write

Use latest node and npm
  README.md
  template/package.json
Due: prettier --write

Update all dependencies to latest
  template/package-lock.json
  template/package.json
Due: prettier --write

Update styleling config
  template/src/styles/common/_global.scss
  template/stylelint.config.js
Due: prettier --write, stylelint --fix

Update README.md Node and NPM note part
  README.md
Due: prettier --write

Update dependencies to latest
  template/package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Add Tailwind and remove old styling and Stylelint, update dependencies as well
  template/.eslintignore
  template/.github/workflows/lint-typecheck.yml
  template/.vscode/extensions.json
  template/.vscode/settings.json
  template/README.md
  template/package-lock.json
  template/package.json
  template/postcss.config.js
  template/src/app/layout.tsx
  template/src/app/page.tsx
  template/src/pages/_app.tsx
  template/src/pages/index.tsx
  template/src/styles/common/_global.scss
  template/src/styles/common/_reset.scss
  template/src/styles/global.css
  template/src/styles/styles.scss
  template/stylelint.config.js
  template/tailwind.config.js
  template/tsconfig.json
Due: prettier --write, stylelint --fix

Update starter page font sizes
  template/src/app/page.tsx
Due: prettier --write

Use Turbopack in dev server
  template/package.json
Due: prettier --write
