Repository borealis-agency/next-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "*{.css,.scss}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Remove $path file
  lib/$path.ts
Due: prettier --write

Disable windows focus refetch for react-query
  pages/_app.tsx
Due: prettier --write

Update react-query demo
  pages/index.tsx
  styles/globals.scss
Due: prettier --write, stylelint --fix

Update clone URL
  README.md
Due: prettier --write

Add husky init as a manual step because it breaks initial cloning
  README.md
  template/.husky/pre-commit
  template/package.json
  template/scripts/generateIconSprite.mjs
  template/scripts/postClone.mjs
  template/scripts/utility.mjs
Due: prettier --write

Automatically commit husky initialization
  template/scripts/postClone.mjs
Due: none

Update main readme
  README.md
Due: prettier --write

Update github action file to use Volta automatically
  template/.github/workflows/lint-typecheck.yml
Due: none

Move all component generators under same group
  template/_templates/component/icon/00-index-global.ejs.t
  template/_templates/component/icon/01-component.ejs.t
  template/_templates/component/icon/02-component-styles.ejs.t
  template/_templates/component/icon/03-index-global-inject.ejs.t
  template/_templates/component/module/00-index-module.ejs.t
  template/_templates/component/module/01-component.ejs.t
  template/_templates/component/module/02-component-styles.ejs.t
  template/_templates/component/module/03-index-module-inject.ejs.t
  template/_templates/component/module/index.js
  template/_templates/component/shared/00-index-global.ejs.t
  template/_templates/component/shared/01-component.ejs.t
  template/_templates/component/shared/02-component-styles.ejs.t
  template/_templates/component/shared/03-index-global-inject.ejs.t
  template/_templates/component/shared/index.js
  template/components/README.md
  template/icons/README.md
  template/modules/README.md
Due: prettier --write

Add custom hook generator
  template/_templates/hook/00-index-global.ejs.t
  template/_templates/hook/01-hook.ejs.t
  template/_templates/hook/02-index-global-inject.ejs.t
Due: none

Add proper folder structure for hook generator
  template/_templates/hook/new/00-index-global.ejs.t
  template/_templates/hook/new/01-hook.ejs.t
  template/_templates/hook/new/02-index-global-inject.ejs.t
Due: none

Update modules docs heading level
  template/modules/README.md
Due: prettier --write

Add readme for hooks
  template/hooks/README.md
Due: prettier --write

Document types folder
  template/types/README.md
Due: prettier --write

Document scripts folder
  template/scripts/README.md
Due: prettier --write

Update modules readme
  template/modules/README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update Icon generator to not include "icon-" prefix
  template/_templates/component/icon/01-component.ejs.t
Due: none

Generate SVG sprite using symbol rather than defs
  template/scripts/generateIconSprite.mjs
Due: none

Update initial setup script name
  README.md
  template/scripts/initialSetup.mjs
Due: prettier --write

Add classnames as a dependency
  template/package.json
Due: prettier --write

Re-organize basic style files
  template/package.json
  template/pages/_app.tsx
  template/styles/common/_global.scss
  template/styles/common/_reset.scss
  template/styles/styles.scss
Due: prettier --write, stylelint --fix

Run pathpida after icon sprite is generated
  template/package.json
Due: prettier --write

Remove stylelint fix from pre-commit
  template/.lintstagedrc
Due: none

Print success message when icon sprite is generated
  template/scripts/generateIconSprite.mjs
Due: none

Remove stroke and fill from icons in svg sprite
  template/scripts/generateIconSprite.mjs
Due: none

WIP work on modal generator
  template/_templates/component/modal/00-index-module.ejs.t
  template/_templates/component/modal/01-component.ejs.t
  template/_templates/component/modal/02-component-styles.ejs.t
  template/_templates/component/modal/index.js
  template/_templates/modal-setup/init/00-index-global.ejs.t
  template/_templates/modal-setup/init/01-index-utility.ejs.t
  template/_templates/modal-setup/init/02-register-utility.ejs.t
  template/_templates/modal-setup/init/03-index-utility-inject.ejs.t
Due: prettier --write

Update Next.js to 13.1
  template/package.json
Due: prettier --write

Add generator for setting up nice-modal-react
  template/_templates/component/modal/00-index-module.ejs.t
  template/_templates/component/modal/01-component.ejs.t
  template/_templates/component/modal/02-component-styles.ejs.t
  template/_templates/component/modal/index.js
  template/_templates/modal-setup/init/01-index-utility.ejs.t
  template/_templates/modal-setup/init/01-register-utility.ejs.t
  template/_templates/modal-setup/init/02-custom-hook.ejs.t
  template/_templates/modal-setup/init/03-index-utility-inject.ejs.t
  template/_templates/modal-setup/init/04-index-global-inject.ejs.t
Due: prettier --write

Update components and modules readme files
  template/components/README.md
  template/modules/README.md
Due: prettier --write

Add install step for nice-modal-react
  template/_templates/modal-setup/init/index.js
Due: prettier --write

Update all dependencies to latest and remove manual husky script
  template/.husky/pre-commit
  template/package-lock.json
  template/package.json
  template/scripts/initialSetup.mjs
  template/stylelint.config.js
  template/styles/common/_global.scss
Due: prettier --write, stylelint --fix

Bring back initial setup script
  template/.husky/pre-commit
  template/package.json
  template/scripts/initialSetup.mjs
Due: prettier --write

Simplify template documentation
  README.md
  template/README.md
  template/scripts/initialSetup.mjs
Due: prettier --write

Update "glob" package import in icon sprite script
  template/scripts/generateIconSprite.mjs
Due: none
