Repository borealis-agency/next-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: https://json.schemastore.org/lintstagedrc.schema.json, prettier --write, stylelint --fix

.lintstagedrc:

{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*.{js,jsx,ts,tsx,json,md}": [
    "prettier --write"
  ],
  "*{.css,.scss}": [
    "prettier --write",
    "stylelint --fix"
  ]
}

Annotate more configuration files
  .github/workflows/lint-typecheck.yml
  .npmrc
  next.config.js
Due: prettier --write

Update VSCode settings
  .vscode/settings.json
Due: prettier --write

Remove unnecessary API route
  pages/api/hello.ts
Due: prettier --write

Add first couple of Hygen templates
  .hygen.js
  _templates/component/new/component.ejs.t
  _templates/component/new/componentStyles.ejs.t
  _templates/component/new/index.ejs.t
  _templates/component/new/index.js
  _templates/module-component/new/component.ejs.t
  _templates/module-component/new/componentStyles.ejs.t
  _templates/module-component/new/index.js
  _templates/shared/componentBody.ejs.t
  _templates/shared/componentStyles.ejs.t
  package-lock.json
  package.json
Due: prettier --write

Add package-changed to auto install dependencies when they change
  .gitignore
  package.json
Due: prettier --write

Add absolute import syntax using "@/"
  tsconfig.json
Due: prettier --write

Replace favicon and footer logo
  pages/_app.tsx
  pages/index.tsx
  public/borealis-agency-horizontal-logo-subtitle-dark.svg
  public/borealis-logo-icon-red.svg
  public/favicon.ico
  public/vercel.svg
  styles/Home.module.css
Due: prettier --write, stylelint --fix

Initial work for SVG sprite generator
  package-lock.json
  package.json
  scripts/generateIconSprite.mjs
Due: prettier --write

Add pathpida to generate typesafe page and static asset routes
  .eslintignore
  .prettierignore
  package-lock.json
  package.json
  pages/index.tsx
Due: prettier --write

Force more consistent naming convention with ESLint rules
  .eslintrc.js
  package.json
  tsconfig.eslint.json
Due: prettier --write

Update most dependencies
  package-lock.json
  package.json
Due: prettier --write

Add some icon generation updates
  .gitignore
  icons/.gitkeep
  icons/README.md
  scripts/generateIconSprite.mjs
Due: prettier --write

Output type and path files for generated icons
  scripts/generateIconSprite.mjs
Due: none

Update icon sprite generation script
  .gitignore
  package-lock.json
  package.json
  scripts/generateIconSprite.mjs
Due: prettier --write

Add more ESLint rules
  .eslintrc.js
  package-lock.json
  package.json
Due: prettier --write

Update ESLint boolean prop message
  .eslintrc.js
Due: prettier --write

Force error in ESLint for naming conventions
  .eslintrc.js
Due: prettier --write

Error on unnecessary object property non shorthand version
  .eslintrc.js
Due: prettier --write

Add ESLint rule for React key
  .eslintrc.js
Due: prettier --write

Add index export to module component generator
  _templates/module-component/new/index.ejs.t
Due: none

Update eslint rules
  .eslintrc.js
Due: prettier --write

Add npm script for icon generator
  package.json
Due: prettier --write

Update vscode settings
  .vscode/settings.json
Due: prettier --write

Add initial documentation for modules folder
  modules/README.md
Due: prettier --write

Add specific generator for Icon component
  _templates/icon-component/new/component.ejs.t
  _templates/icon-component/new/componentStyles.ejs.t
  _templates/icon-component/new/index.ejs.t
Due: none

Add top level components export to generator
  _templates/component/new/_index-global.ejs.t
  _templates/component/new/index-inject.ejs.t
Due: none

Add new and update existing hygen templates
  _templates/component/new/00-index-global.ejs.t
  _templates/component/new/01-component.ejs.t
  _templates/component/new/02-component-styles.ejs.t
  _templates/component/new/03-index-global-inject.ejs.t
  _templates/component/new/component.ejs.t
  _templates/component/new/componentStyles.ejs.t
  _templates/component/new/index.ejs.t
  _templates/icon-component/new/00-index-global.ejs.t
  _templates/icon-component/new/01-component.ejs.t
  _templates/icon-component/new/02-component-styles.ejs.t
  _templates/icon-component/new/03-index-global-inject.ejs.t
  _templates/icon-component/new/index.ejs.t
  _templates/module-component/new/00-index-module.ejs.t
  _templates/module-component/new/01-component.ejs.t
  _templates/module-component/new/02-component-styles.ejs.t
  _templates/module-component/new/03-index-module-inject.ejs.t
  _templates/module-component/new/index.ejs.t
  _templates/shared/component-body.ejs.t
  _templates/shared/component-styles.ejs.t
Due: none

Update styles and stylelint configuration
  .vscode/settings.json
  package-lock.json
  package.json
  stylelint.config.js
  stylelintrc.json
  styles/Home.module.css
  styles/globals.css
  styles/globals.scss
Due: prettier --write, stylelint --fix

Add colorful boilerplate homepage with features and instructions
  pages/_app.tsx
  pages/index.tsx
Due: prettier --write

Update icon sprite generation script
  scripts/generateIconSprite.mjs
Due: none

Update few readme files and add recommended vscode extensions
  .vscode/extensions.json
  README.md
  components/README.md
  icons/README.md
Due: prettier --write

Add Typescript plugin for CSS modules
  .vscode/settings.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update next and axios
  .vscode/settings.json
  next.config.js
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Update boilerplate homepage text
  pages/index.tsx
Due: prettier --write

Remove unnecessary gitkeep file
  icons/.gitkeep
Due: none

Update main readme
  README.md
Due: prettier --write

Fix typo in main readme
  README.md
Due: prettier --write

Update pinned Volta metadata and dev command
  package-lock.json
  package.json
Due: prettier --write

Update readme with instructions on how to actually clone the starter template
  README.md
Due: prettier --write

Add React Query dependency and unfinished demo
  lib/$path.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: prettier --write
